*{
    padding: 0%;
    margin: 0%;
}

body{
    background-image: url("imges/svg-wave-generator.gif");
    background-repeat: no-repeat;
    background-size: 1550px 700px;
    

}
.navbar{
    width: 1550px;
    height: 50px;
    color: transparent;
    

}

.navlist{
    display: flex;
    flex-grow: initial;
    position: fixed;
    align-items: center;
    list-style: none;

}

.item{
    text-decoration: none;
    margin: 5px;
    color: aliceblue;
}






   
